.sidebar-collapsed {
    width: 0;
    overflow: hidden;
    transition: width 0.1s;
}
.sidebar-expanded {
    width: 200px; 
    transition: width 0.1s;
}
.sidebar-container {
    min-height: 100vh;
    
    padding: 0;
}
.sidebar-container .nav-link {
    color:rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
}
.main-content {
    transition: margin-left 0.0s;
}
.main-content-expanded {
    margin-left: 200px; 
}
.main-content-collapsed {
    margin-left: 0;
}
.collapsed-navbar {
    padding-left: 100px; 
}
.navbar-brand {
    padding-left: 30px; 
}
.btn-custom {
    background-color:#45474B; 
    border-color: #45474B;
    color: #ffffff;
    height:40px;
    width: 100px;
    margin-left: 10px; 
}

.btn-custom-disabled{
    background-color:#EEEEEE; 
    border-color: #EEEEEE;
    color: #ffffff;
    height:40px;
    width: 100px;
    margin-left: 10px; 
}
   
.header{
	 margin-left: 30px; 
	 color:#45474B;
}    



.btn-custom:hover {
    background-color: #729762; 
    border-color: #729762;
}
.btn-custom-disabled:hover{
	 background-color: #EEEEEE; 
    border-color: #EEEEEE;
}
.btn-group.btn-group-toggle {
        width: 100%;
    }
.btn-group.btn-group-toggle a {
	flex: 1;
    display: inline-block;
    width: 50%; 
}
.book-name{
	 color: #000000;
}

.book-name:hover{
	 color: #000000;
}

.book-author{
	color:rgb(90,90,90);
	font-size: 20px;
}
.table-custom{
	color:rgb(89, 116, 69);
}
.table-h{
	color:#F5F7F8;
}
.table-items{
	color:#000000;
}
   
    