<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD BOOK</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">ADD NEW BOOK</h1>
                <div class="card-body">
                    <form th:action="@{/books}" th:object="${book}" method="POST">
                        <div class="form-group">
                            <label>Book Name</label>
                            <input type="text" name="Name" th:field="*{Name}" class="form-control"
                                   placeholder="Enter the name of Book"/>
                        </div>

                        <div class="form-group">
                            <label>Author</label>
                            <input type="text" name="Author" th:field="*{Author}" class="form-control"
                                   placeholder="Enter the book Author"/>
                        </div>

                        <div class="form-group">
                            <label>Publishment</label>
                            <input type="text" name="Publishment" th:field="*{Publishment}" class="form-control"
                                   placeholder="Enter the Publishment of Book"/>
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" name="Price" th:field="*{Price}" class="form-control"
                                   placeholder="Price"/>
                        </div>
                        
                        <div class="form-group form-check">
                        	<input type="checkbox" id="stockCheckbox" name="Stock" th:field="*{Stock}" class="form-check-input"/>
    						<label for="stockCheckbox" class="form-check-label">In Stock</label>
   						</div>
                        
                        

                        <div class="box-footer">
                            <button type="submit" class="btn btn-custom">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-6yFLkww7vTWg5zHlZnMCAyspwm7YAZOUI9D7v6Wlm35bCIy3urB48OFjIWfaVbks"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        // Toggle Sidebar
        $('#toggle-button').click(function () {
            $('#sidebar-container').toggleClass('sidebar-collapsed sidebar-expanded');
            $('.main-content').toggleClass('main-content-collapsed main-content-expanded');
        });

        // Collapse Sidebar on Link Click
        $('#v-pills-tab .nav-link').click(function () {
            $('#sidebar-container').addClass('sidebar-collapsed').removeClass('sidebar-expanded');
            $('.main-content').addClass('main-content-collapsed').removeClass('main-content-expanded');
        });

        // Check if success alert is present and fade it out after 3 seconds
        if ($('#success-alert').length > 0) {
            setTimeout(function () {
                $('#success-alert').alert('close');
            }, 3000);
        }
    });
</script>

</body>
</html>
